* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #111;
  padding: 15px 40px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

h2 {
  margin-bottom: 15px;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
}
.profile-pic{
  width:130px;
  height:130px;
  border-radius:50%;
  border:4px solid white;
  margin-bottom:15px;
}
.hidden{
  opacity:0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show{
  opacity:1;
  transform: translateY(0);
}
#lightbox{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox img{
  max-width: 80%;
  border-radius: 10px;
}
@media (max-width:768px){
  nav{
    flex-direction: column;
    gap: 10px;
  }

  section{
    padding: 40px 20px;
  }

  .hero{
    text-align: center;
  }
}

